/*root*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
    background: rgb(9, 4, 50);
}

h1 {
    font-size: 5rem;
    color: yellow;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 10px;

}

h2 {
    font-size: 3rem;
    color: rgb(9, 4, 50);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 10px;
    text-decoration: wavy chartreuse;
    padding-left: 10px;

}

/*#choicesContainer {
    display: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}*/

#choices {

    display: flex;
    flex-wrap: wrap;
}

#choices button {
    font-size: 4.5rem;
    min-width: min-content;
    margin: auto;
    padding: 0.5em;
    border-radius: 250px;
    background-color: yellow;
    border: solid rgb(9, 4, 50) 0.10em;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

#choices button:hover {
    background: magenta;
    border: solid yellow 1rem;

    font-size: 4rem;
    min-width: min-content;
    margin: auto;
    padding: 0.5em;
}

#displayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

#playerDisplay {
    font-size: 2.5rem;
    color: magenta;
    margin: auto;
    padding: 1rem;
}

#divider {
    font-size: 2.5rem;
    color: aqua;
    margin: auto;
    padding: 1rem;
}

#computerDisplay {
    font-size: 2.5em;
    color: yellow;
    margin: auto;
    padding: 1rem;
}

#resultContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

#resultDisplay {
    font-size: 3em;
    ;
    margin: auto;
    padding: 1rem;
}

#scoreContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scoreDisplay {
    font-size: 3.5em;
    margin: auto;
    padding: 1rem;

}


.greenText {
    color: rgb(54, 243, 6);
}

.redText {
    color: red;
}

.orangeText {
    color: orange;
}


#How-to-play {
    font-size: 1.6rem;
    color: rgb(9, 4, 50);
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    padding: 1.5em;
    background-color: yellow;
    text-align: left;
    letter-spacing: 0.1em;
}

/*--Media queries */